/TiendaJEE/build/
TiendaJEE/nbproject/genfiles.properties

TiendaJEE/nbproject/genfiles.properties

TiendaJEE/nbproject/private/private.properties

TiendaJEE/nbproject/private/private.xml

TiendaJEE/nbproject/project.properties

TiendaJEE/nbproject/project.xml

TiendaJEE/src/conf/persistence.xml

TiendaJEE/web/WEB-INF/glassfish-resources.xml

TiendaJEE/nbproject/faces-config.NavData

TiendaJEE/nbproject/genfiles.properties

TiendaJEE/nbproject/genfiles.properties
/TiendaJEE/dist/